<!DOCTYPE html>
<html>
<head>
    <title>test</title>
    <link rel="stylesheet" type="text/css" href="../Public/css/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,400&family=Roboto+Slab:wght@500&display=swap" rel="stylesheet">
    <script type="text/javascript" src="../Public/js/script.js"></script>
</head>
<body>
<p>
    Codecool's quest store
</p>
<div class="centered">
    <div class="message hide">
        our message
    </div>
    <form>
        <input placeholder="email">
        <input placeholder="password">
    </form>
</div>
<div class="centered-button">
    <form>
        <button type="button" onclick="showMessage()"></i> submit</button>
    </form>
</div>
</body>

</html>