<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!--    <link rel="import" type="text/html" href="../Views/navbar.html"/>-->
    <link rel="stylesheet" type="text/css" href="../Public/css/main_style.css">
    <link rel="stylesheet" type="text/css" href="../Public/css/navigation.css">
    <link rel="stylesheet" type="text/css" href="../Public/css/create_mentor.css">


    <title>Queststore</title>
    <script src="https://kit.fontawesome.com/d9b16d40ba.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Stalinist+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,400&family=Roboto+Slab:wght@500&display=swap"
          rel="stylesheet">
    <meta name="description" content="QUEST- queststore from Codecool">

</head>
<body>
<div class="container">
    <header>
        <div class="logo">
            <img src="../Icons/chess-queen-solid.png" alt="logo">
            <p>Quest</p>
        </div>

        <nav class="navigation">
            <a href="create_mentor.html">Create Mentor</a>
            <a href="contact.html">Create Class</a>
            <a href="mentor_list.html">Mentors list</a>
            <a href="student_list.html">Students list</a>
        </nav>

        <div class="user-profile">
            <div class="photo">
                <img src="../Icons/no_photo.jpg" alt="no photo" width="80" height="80">
            </div>

            <div class="user-data">
                <p>Adam Kowalski</p>
                <p>Administrator</p>
                <div class="logout">
                    <a href="login.html"> Log out</a>
                </div>
            </div>
        </div>
    </header>

    <div class="infos">
        <p>Create mentor</p>
        <form action="..." enctype="multipart/form-data">
            <div>
                <label class="data">Surname: </label>
                <input type="text" name="surname">
            </div>
            <div>
                <label class="data"> Name:</label>
                <input type="name" name="name">
            </div>
            <div>
                <label class="data">E-mail:</label>
                <input type="email" name="email">
            </div>
            <div>
                <label class="data">Password:</label>
                <input type="password" name="password">
            </div>
            <div>
                <label class="data">Repeat password:</label>
                <input type="repeatpassword" name="repeatpassword">
            </div>
            <div>
                <label class="data"> Profile photo:</label>
                <input type="file" name="photo">
            </div>
            <input type="submit" name="button" value="Confirm">
        </form>
    </div>
</div>

</body>
</html>