<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/create_mentor.css">
    <title>Queststore</title>
    <script src="https://kit.fontawesome.com/d9b16d40ba.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Stalinist+One&display=swap" rel="stylesheet">
    <meta name="description" content="QUEST- queststore from Codecool">
</head>
<body>
<div class="container">
    <header>
        <div class="logo">
            <img src="chess-queen-solid.png" alt="logo" height="75" width="80">
            <p>Quest</p>
        </div>
        <nav class="navigation">
            <a href="main.html">Utwórz mentora</a>
            <a href="contact.html">Utwórz klasę</a>
            <a href="aboutme.html">Lista mentorów</a>
            <a href="contact.html">Lista studentów</a>
        </nav>

        <div class="user-profile">
            <div class="photo">
                <img src="no_photo.jpg" alt="no photo"width="50" height="50">
            </div>
            <p>Adam Kowalski</p>
            <p>Administrator</p>
            <p>Log out</p>
        </div>

</header>
        <div class="cards">
            <p>Utwórz mentora</p>
            <form action="..." enctype="multipart/form-data">
            <label class="data">Imię: <input type="surename" name="surename" ></label>
            <label class="data">Nazwisko: <input type="name" name="name" > </label>
            <label class="data">e-mail: <input type="email" name="email" ></label>
            <label class="data">hasło: <input type="password" name="password" ></label>
            <label class="data">powtórz hasło: <input type="repeatpassword" name="repeatpassword"></label>
                <input type="file" name="photo">
                <input type="submit" name="button" value="Zatwierdź"></label>
                </form>
    </div>
</div>

</body>
</html>