<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../Public/css/edit_student.css">
    <title>Queststore</title>
    <script src="https://kit.fontawesome.com/d9b16d40ba.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Stalinist+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,400&family=Roboto+Slab:wght@500&display=swap"
          rel="stylesheet">
    <script type="text/javascript" src="../Public/js/script.js"></script>
    <meta name="description" content="QUEST- queststore from Codecool">
</head>
<body>
<div class="container">
    <header>
        <div class="logo">
            <img src="../Icons/chess-queen-solid.png" alt="logo" height="75" width="80">
            <p>Quest</p>
        </div>

        <nav class="navigation">
            <a href="mentor_quest.html">Your Quests</a>
            <a href="mentor_add_event.html">Add event</a>
            <a href="mentor_shop.html">Shop</a>
            <a href="mentor_student_list.html">Students list</a>
        </nav>

        <div class="user-profile">
            <div class="photo">
                <img src="../Icons/no_photo.jpg" alt="no photo" width="80" height="80">
            </div>

            <div class="user-data">
                <p>Adam Kukuła</p>
                <p>Mentor</p>
                <div class="logout">
                    <a href="login.html"> Log out</a>
                </div>
            </div>
        </div>

<!--        <div class="message hide">-->
<!--            Login successful!-->
<!--        </div>-->
    </header>
    <div class="info">
        <p>Add new event</p>
        <form action="..." enctype="multipart/form-data">
            <div>
                <label class="data">Surname: </label>
                <input type="text" name="title" value="Adam">
            </div>
            <div>
                <label class="data"> Name:</label>
                <input type="name" name="description" value="Nowak">
            </div>
            <div>
                <label class="data">e-mail adress:</label>
                <input type="email" name="value" value="adamnowak@gmail.com">
            </div>
            <div>
                <label class="data">Birth date:</label>
                <input type="datebirth" name="value" value="12.11.1987">
            </div>
            <input type="submit" name="button" value="Confirm" onclick="showMessageconfirm()">
        </form>
    </div>
</div>
</body>
</html>