<!DOCTYPE html>
<html>
<head>
    <title>test</title>
    <link rel="stylesheet" type="text/css" href="../Public/css/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,400&family=Roboto+Slab:wght@500&display=swap"
          rel="stylesheet">
    <script type="text/javascript" src="../Public/js/script.js"></script>
    <script src="https://kit.fontawesome.com/986f3c071d.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="centered">
    <p>
        Codecool's quest store
    </p>
    <div class="message hide">
        our message
    </div>
    <form class="centered">
        <input placeholder="email">
        <input placeholder="password">
        <button type="button" onclick="showMessage()">
            <i class="fas fa-door-open"></i>
            submit
        </button>
    </form>
</div>
</body>

</html>