<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../Public/css/mentor_list.css">
    <title>Queststore</title>
    <script src="https://kit.fontawesome.com/d9b16d40ba.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Stalinist+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,400&family=Roboto+Slab:wght@500&display=swap"
          rel="stylesheet">
    <meta name="description" content="QUEST- queststore from Codecool">
</head>
<body>
<div class="container">
    <header>
        <div class="logo">
            <img src="../Icons/chess-queen-solid.png" alt="logo" height="75" width="80">
            <p>Quest</p>
        </div>

        <nav class="navigation">
            <a href="create_mentor.html">Create Mentor</a>
            <a href="contact.html">Create Class</a>
            <a href="mentor_list.html">Mentors list</a>
            <a href="student_list.html">Students list</a>
        </nav>

        <div class="user-profile">
            <div class="photo">
                <img src="../Icons/no_photo.jpg" alt="no photo" width="80" height="80">
            </div>

            <div class="user-data">
                <p>Adam Kowalski</p>
                <p>Admnistrator</p>
                <div class="logout">
                    <a href="login.html"> Log out</a>
                </div>
            </div>
        </div>
    </header>

    <div class="content">
        <div class="mentors">
            <div class="mentor">mentor 1</div>
            <div class="mentor">mentor 2</div>
            <div class="mentor">mentor 3</div>
            <div class="mentor">mentor 4</div>
            <div class="mentor">mentor 5</div>
            <div class="mentor">mentor 6</div>
        </div>
    </div>

</div>
</body>
</html>
