<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../Public/css/navigation.css">
    <title>Queststore</title>
    <script src="https://kit.fontawesome.com/d9b16d40ba.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Stalinist+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,400&family=Roboto+Slab:wght@500&display=swap"
          rel="stylesheet">
    <meta name="description" content="QUEST- queststore from Codecool">
</head>
<body>
<div class="container">

    <header>
        <div class="logo">
            <img src="chess-queen-solid.png" alt="logo" height="75" width="80">
            <p>Quest</p>
        </div>
        <nav class="navigation">
            <a href="main.html">Create Mentor</a>
            <a href="contact.html">Create Class</a>
            <a href="aboutme.html">Mentors list</a>
            <a href="contact.html">Students list</a>
        </nav>

        <div class="user-profile">
            <div class="photo">
                <img src="no_photo.jpg" alt="no photo"width="50" height="50">
            </div>
            <p>Adam Kowalski</p>
            <p>Administrator</p>
            <p>Log out</p>
        </div>

    </header>
</div>
</body>
</html>