<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../Public/css/shop.css">
    <title>Queststore</title>
    <script src="https://kit.fontawesome.com/d9b16d40ba.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Stalinist+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,400&family=Roboto+Slab:wght@500&display=swap"
          rel="stylesheet">
    <meta name="description" content="QUEST- queststore from Codecool">
</head>
<body>
<div class="container">
    <header>
        <div class="logo">
            <img src="../Icons/chess-queen-solid.png" alt="logo" height="75" width="80">
            <p>Quest</p>
        </div>

        <nav class="navigation">
            <a href="wallet.html">Show wallet</a>
            <a href="shop.html">Artifact shop</a>
        </nav>

        <div class="user-profile">
            <div class="photo">
                <img src="../Icons/no_photo.jpg" alt="no photo" width="80" height="80">
            </div>

            <div class="user-data">
                <p>Tadeusz Kościuszko</p>
                <p>Student</p>
                <p>Log out</p>
            </div>
        </div>
    </header>

    <div class="content">
        <div class="cards">

            <div class="card">
                <div class="card-title">Nokia software</div>
                <div class="card-description">1h programming course on oldstyle Nokia</div>
                <div class="card-pillPrice">cost: 20 p.</div>
            </div>
            <div class="card">
                <div class="card-title">Hackagov</div>
                <div class="card-description">30 minutes of hacking Polish National Bank's website</div>
                <div class="card-pillPrice">cost: 30 p.</div>
            </div>
            <div class="card">
                <div class="card-title">I was blind now I see</div>
                <div class="card-description">1h workshop of reading binary numbers as real life images</div>
                <div class="card-pillPrice">cost: 50 p.</div>
            </div>
            <div class="card">
                <div class="card-title">Martial-art workshop</div>
                <div class="card-description">1h of learning java-jitsu with mentor</div>
                <div class="card-pillPrice">cost: 60 p.</div>
            </div>
            <div class="card">
                <div class="card-title">Mr Robot</div>
                <div class="card-description">1h of programming the bot of your favorite mentor</div>
                <div class="card-pillPrice">cost: 70 p.</div>
            </div>
            <div class="card">
                <div class="card-title">Plugged in</div>
                <div class="card-description">1h of studying in simulator with friend</div>
                <div class="card-pillPrice">cost: 50 p.</div>
            </div>

            <div class="card">
                <div class="card-title">Consult the oracle</div>
                <div class="card-description">45 minutes of interview with the oracle from school office</div>
                <div class="card-pillPrice">cost: 40 p.</div>
            </div>
            <div class="card">
                <div class="card-title">Holy trinity help</div>
                <div class="card-description">Get help with your project for 1h from three mentors at the same time
                </div>
                <div class="card-pillPrice">cost: 100 p.</div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
