<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="../Public/js/security.js" defer></script>
    <script src="../Public/js/mentor_students_list.js" defer></script>
    <link rel="stylesheet" type="text/css" href="../Public/css/main_style.css">
    <link rel="stylesheet" type="text/css" href="../Public/css/navigation.css">
    <link rel="stylesheet" type="text/css" href="../Public/css/student_list.css">
    <title>Queststore</title>
    <script src="https://kit.fontawesome.com/d9b16d40ba.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Stalinist+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,400&family=Roboto+Slab:wght@500&display=swap"
          rel="stylesheet">
    <meta name="description" content="QUEST- queststore from Codecool">
</head>
<body>
<div class="container">

    <header>
        <div class="logo">
            <img src="../Icons/chess-queen-solid.png" alt="logo" height="75" width="80">
            <p>Quest</p>
        </div>

        <nav class="navigation">
            <a href="create_mentor.html">Create Mentor</a>
            <a href="contact.html">Create Class</a>
            <a href="mentor_list.html">Mentors list</a>
            <a href="student_list.html">Students list</a>
        </nav>

        <div class="user-profile">
            <div class="photo">
                <img src="../Icons/no_photo.jpg" alt="no photo" width="80" height="80">
            </div>

            <div class="user-data">
                <p>Adam Kowalski</p>
                <p>Creep</p>
                <div class="logout">
                <p>Logout</p>
            </div>
            </div>
        </div>
    </header>

    <table class="students">
        <thead class="thead">
        <tr>
            <th>ID</th>
            <th>FIRST NAME</th>
            <th>LAST NAME</th>
            <th>LOGIN</th>
            <th>E-MAIL</th>
            <th>MODULE</th>
            <th> </th>
        </tr>
        </thead>
        <tbody class="tbody">
        </tbody>
    </table>
</div>
</body>
</html>
