<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../Public/css/main_style.css">
    <link rel="stylesheet" type="text/css" href="../Public/css/navigation.css">
    <link rel="stylesheet" type="text/css" href="../Public/css/wallet.css">
    <title>Queststore</title>
    <script src="https://kit.fontawesome.com/d9b16d40ba.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Stalinist+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,400&family=Roboto+Slab:wght@500&display=swap"
          rel="stylesheet">
    <meta name="description" content="QUEST- queststore from Codecool">
</head>
<body>
<div class="container">
    <header>
        <div class="logo">
            <img src="../Icons/chess-queen-solid.png" alt="logo">
            <p>Quest</p>
        </div>

        <nav class="navigation">
            <a href="wallet.html">Show Statistics</a>
            <a href="shop.html">Artifact shop</a>
        </nav>

        <div class="user-profile">
            <div class="photo">
                <img src="../Icons/no_photo.jpg" alt="no photo" width="80" height="80">
            </div>

            <div class="user-data">
                <p>Konrad Prusacki</p>
                <p>Student</p>
                <div class="logout">
                    <a href="login.html"> Log out</a>
                </div>
            </div>
        </div>
    </header>
    <div class="cards">
        <p>Your Wallet:</p>
        <form action="..." enctype="multipart/form-data">
            <label class="data">Income: 100 </label>
            <label class="data">Outcome: 50 </label>
            <label class="data">Bilans: 50 </label>

        </form>
    </div>
    <div class="cards">
        <p>Level:</p>
        <form action="..." enctype="multipart/form-data">
            <label class="data">Your level: 15 </label>
            <label class="data">Experience to next level: 56/100 </label>

        </form>
    </div>

</div>

</body>
</html>
