<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../Public/css/wallet.css">
    <title>Queststore</title>
    <script src="https://kit.fontawesome.com/d9b16d40ba.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Stalinist+One&display=swap" rel="stylesheet">
    <meta name="description" content="QUEST- queststore from Codecool">
</head>
<body>
<div class="container">
    <header>
        <div class="logo">
            <img src="../Icons/chess-queen-solid.png" alt="logo" height="75" width="80">
            <p>Quest</p>
        </div>
        <nav class="navigation">
            <a href="main.html">Show wallet</a>
            <a href="contact.html">Artifact shop</a>
            <a href="aboutme.html">Show level</a>
        </nav>

        <div class="user-profile">
            <div class="photo">
                <img src="../Icons/no_photo.jpg" alt="no photo" width="50" height="50">
            </div>
            <p>Tadeusz Kościuszko</p>
            <p>Student</p>
            <p>Log out</p>
        </div>

    </header>
    <div class="cards">
        <p>Your wallet:</p>
        <form action="..." enctype="multipart/form-data">
            <label class="data">Income in last week <input type="surename" name="surename" ></label>
            <label class="data">Outcome in last week: <input type="name" name="name" > </label>
            <label class="data">Cards possible to buy: <input type="email" name="email" ></label>


        </form>
    </div>
</div>

</body>
</html>