.container {
    display: flex;
    flex-direction: column;
    margin-left: 1em;
    margin-right: 1em;
}

header {
    position: fixed;
    top: 0;
    left: 0;

    background-color: rgba(0, 255, 255, 0);
    height: 9em;
    width: 100%;
    display: flex;
    flex-direction: row;
}

header > .logo {
    background-color: rgba(255, 255, 255, 0.14);
    width: 9%;
}

.logo img {
    position: fixed;
    left: 1.5%;
    right: 12.87%;
    top: 1%;
    bottom: 23.36%;
    color: #1550E8;
}

.logo p {
    position: absolute;
    left: 1%;
    right: 0%;
    top: 75%;
    bottom: 0%;

    font-family: Stalinist One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    display: flex;
    align-items: center;
    color: #1550E8;
}

header > nav {
    width: 80%;
    background-color: cornsilk;
}

header > .user-profile {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.14);
    margin-left: auto;
    width: 20%;
}

.user-profile img {
    display: flex;
    margin-top: 1em;
    margin-left: 1em;
}

.user-data {
    font-size: 1.3em;
}
.logout a{
    text-decoration: none;
    color: whitesmoke;
}
.logout a:hover {
    color: #1550E8;

}

.content {

    padding: 2em;
}
.info {
    border-radius: 1em;
    margin: 1.3em;
    background-color: rgba(97, 97, 97, 0.35);
    font-size: 1.5em;
    justify-content: left;
}

.info label {
    display: inline-block;
    width: 50%;
}

.data input {
    outline: none;
    display: inline-block;
    justify-content: right;
    border-radius: 0.7em;
    border: 1px solid #262626;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.info div {
    background-color: rgba(255, 255, 255, 0.14);
    width: 60%;
    border-radius: 10px;
    padding: 0.8em;
    margin: 0.5em;
}

.navigation {
    font-size: 18px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style: none;
    background-color: rgba(255, 255, 255, 0.14);
}

.navigation a {
    font-size: 18px;
    margin-left: 1em;
    display: inline;
    padding: 0.7em;
    color: whitesmoke;
    text-decoration: none;
}

.navigation a:hover {
    background: #1550E8
}

@media screen and (max-device-width: 376px) {
    body {
        margin: 0;
        font-size: 48px;
        margin-top: 8em;
    }

    .info {
        grid-template-columns: repeat(1, 1fr);;
    }

    header {
        flex-direction: column;
    }

    .user-profile {
        display: none;
    }
}

.navigation {
    font-size: 18px;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style: none;
    background-color: rgba(255, 255, 255, 0.14);
}
