body {
    font-size: 24px;
    text-align: center;
    margin-top: 6%;
    background-color: rgba(118, 90, 42, 0.76);
}

* {
    font-family: 'Roboto Slab', serif;
}

form > input, button {
    border: none;
    border-radius: 0.7em;
    font-size: 1em;
    line-height: 2em;
    display: block;
    margin: 1em;
    padding: 0 1em;
    width: 20em;
}

form > input {
    border: 2px solid gray;
}

button {
    background: #28301e;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    color: #FFFFFF;
    margin: 1em;
    width: 20em;
}

button > i {
    margin-right: 1em;
}

p {
    padding: 1em;
}

.message {
    background-color: red;
    border-radius: 1em;
    color: bisque;
    padding: 1em;
    width: 20em;
    margin: 1em;
}

.hide {
    display: none;
}

.centered {
    margin-left: 31%;
}

.centered-button {
    margin-left: 33%;
}

@media screen and (max-device-width: 400px) {
    body {
        font-size: 150px;
    }
}