
form > input, button {
    border: none;
    border-radius: 0.7em;
    font-size: 1em;
    line-height: 2em;
    margin: 0.4em;
    padding: 0 1em;
    width: 20em;
}

form > input {
    border: 2px solid gray;
}

button {
    background:#1550E8;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    margin-top: 1em;
    width: 10em;
}

button > i {
    margin-right: 0.3em;
}
.logo img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60px;
    color: #1550E8;
}

 p {
    font-family: Stalinist One;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    color: #1550E8;
    padding: 0.6em;
}

.message {
    border: 2px solid gray;
    font-size: 0.6em;
    background-color: #049300;

    border-radius: 1em;
    color: #FFFFFF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    padding: 0.5em;
    width: 25em;
    margin: 1em;
}

.hide {
    display: none;
}

.centered-flex> div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-device-width: 400px) {
    body {
        font-size: 150px;
    }
}