
.info {
    border-radius: 1em;
    margin: 1em;
    background-color: rgba(97, 97, 97, 0.35);
    font-size: 1em;
    justify-content: left;
}

.info label {
    display: inline-block;
    width: 30%;
}

.info input {
    margin: 1em;
    padding: 0.3em;
    outline: none;
    display: block;
    justify-content: right;
    border-radius: 0.7em;
    border: 1px solid #262626;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.info div {
    background-color: rgba(255, 255, 255, 0.14);
    width: 60%;
    border-radius: 1em;
    padding: 0.5em;
    margin: 0.2em;
}
.message {
    font-size: 1em;
    border-radius: 1em;
    color: #049300;
    width: 25em;
    margin-left: 1.3em;
}

.button {
    margin: 1em;
}

.hide {
    display: none;
}

@media screen and (max-device-width: 376px) {
    .info {
        grid-template-columns: repeat(1, 1fr);;
    }
}