
.students {
    font-size: 1.3em;
    background-color: rgba(97, 97, 97, 0.35);
    border-radius: 1em;
    margin: 5em 15em;
    padding: 1em;
    text-align: center;
    border: 0.2em solid rgb(21, 80, 232);
    box-shadow: 5px 4px 8px 0px #3a3a3ad1;

}

.students input {
    background-color: rgba(47, 44, 44, 0.27);
    outline: none;
    font-size: 0.8em;
    border-radius: 0.7em;
    border: 1px solid rgba(47, 44, 44, 0.27);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}

.students input:hover {
    color: #1550E8;
}

.students div {
    justify-content: center;
    align-content: center;
    border-radius: 0.7em;
    display: inline-block;
    flex-direction: column;
    height: 2em;
    width: 50%;
    margin: 0.4em;
}

.students label {
    display: inline-block;
    width: 80%;
    margin-left: 5%;
}

.students div:hover {
    text-decoration: none;
    color: whitesmoke;
}

.message {
    border: 2px solid gray;
    font-size: 0.6em;
    background-color: rgba(255, 255, 255, 0.14);
    border-radius: 1em;
    color: #FFFFFF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    padding: 0.5em;
    width: 25em;
    margin: 1em;
}

.hide {
    display: none;
}

@media screen and (max-device-width: 376px) {
    .students {
        grid-template-columns: repeat(1, 1fr);
    }
}
