
.cards {
    border-radius: 1em;
    margin: 1em;
    background-color: rgba(97, 97, 97, 0.35);
    font-size: 1.5em;
    justify-content: left;
}

.cards input[type="surename"] {
    background-color: rebeccapurple;
    outline: none;
    display: inline;
}

.data {
    width: 45%;
    background-color: rgba(255, 255, 255, 0.14);
    border-radius: 10px;
    padding: 0.8em;
    margin: 0.2em;
    font-size: 1em;
    display: block;
    justify-content: left;
}
@media screen and (max-device-width: 376px) {

    .cards {
        grid-template-columns: repeat(1, 1fr);;
    }
}
